@import "~@angular/material/theming";

@include mat-core();

.app-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

app-header {
    display: flex;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

mat-sidenav {
    padding: 16px;
}

app-map {
    flex-grow: 1;
}