<mat-form-field color="accent">
    <mat-label>Show statistics</mat-label>
    <mat-select [(value)]="selectedGrouping" >
        <mat-option value="bycountry">By country</mat-option>
        <mat-option value="bytimeofday">By time of day</mat-option>
        <mat-option value="byapp">By app</mat-option>
    </mat-select>
</mat-form-field>

<ng-container *ngIf="selectedGrouping === 'bycountry' && byCountry$ | async as byCountry">
    <div uitestid="countryStatsList" *ngFor="let item of byCountry">
        {{item.name}}: <b>{{item.count}}</b>
    </div>
</ng-container>
<ng-container *ngIf="selectedGrouping === 'bytimeofday' && byTimeOfDay$ | async as byTimeOfDay">
    <div uitestid="timeOfDayStatsList" *ngFor="let item of byTimeOfDay">
        {{item.name}}: <b>{{item.count}}</b>
    </div>
</ng-container>
<ng-container *ngIf="selectedGrouping === 'byapp' && byApp$ | async as byApp">
    <div uitestid="appStatsList" *ngFor="let item of byApp">
        {{item.name}}: <b>{{item.count}}</b>
    </div>
</ng-container>
